:root {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-image: 0 0 5vh #555555;
    --shadow-image-hover: 0 0 2vh #555555;
    --feature-background: #e0f6ff;
}

.wave-1 {
    background-image: url("./resources/img/wave-1.svg");
    background-size: cover;
}

.wave-2 {
    background-image: url("./resources/img/wave-2.svg");
    background-size: cover;
}

.wave-3 {
    background-image: url("./resources/img/wave-3.svg");
    background-size: cover;
}

.no-underline {
    text-decoration: none !important;
}

/* TOPBAR */
#topbar-buttons {
    white-space: nowrap;
}

.navbar-item {
    display: inline-flex;
    padding: 0 12px;
    margin: 10px 3px;
    border: none;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    box-shadow: var(--button-shadow);
    transition: var(--transition-fast);
    background: var(--body-background);
}

.navbar-item:hover {
    box-shadow: var(--button-shadow-hover);
    background-color: var(--button-background-hover) !important;
}

.navbar-item>a {
    color: var(--body);
    font-size: 16px;
    font-family: var(--font-famly);
    font-weight: bold;
    text-decoration: none;
}

.button-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: var(--button-shadow);
    padding: 4px 8px;
    margin: 0 20px 0 5px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.button-mode:hover {
    box-shadow: var(--button-shadow-hover);
    background-color: var(--button-background-hover) !important;
}

/* FOOTER */
.footer {
    color: #ffffff;
    justify-content: center;
    padding: 32px;
    background: rgb(0, 205, 246);
    background: -moz-linear-gradient(120deg, rgba(0, 205, 246, 1) 0%, rgba(0, 169, 241, 1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(0, 205, 246, 1) 0%, rgba(0, 169, 241, 1) 100%);
    background: linear-gradient(120deg, rgba(0, 205, 246, 1) 0%, rgba(0, 169, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cdf6", endColorstr="#00a9f1", GradientType=1);
}

.footer-column {
    text-align: center;
    width: 150px;
}

.footer-title {
    font-family: var(--font-famly);
    font-weight: bold;
    font-size: 24px;
    margin: 1vh;
}

.footer-link {
    font-family: var(--font-famly);
    font-size: 16px;
    margin: 0.5vh;
    cursor: pointer;
}

.footer-top-separator {
    width: 100%;
    height: 20vh;
    background: url("./resources/img/wave-3.svg");
    visibility: visible;
    margin-top: 10vh;
}

.footer-legal {
    text-align: center;
    margin: 20px 0;
}

/* TITLES */
h2.title {
    text-align: center;
    font-family: var(--font-famly);
    font-size: 5vh;
    font-weight: 900;
    margin: 10vh 5vh 5vh 5vh;
}

h3.subtitle {
    text-align: center;
    font-family: var(--font-famly);
    font-size: 3vh;
    font-weight: 600;
    margin: 0 5vh 5vh 5vh;
}

.text-highlight {
    color: #ffffff;
    border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%;
    padding: 1vh;
    display: inline-block;
}

/* SCREENSHOT */
.screenshot {
    width: 70%;
    margin: 5% 15%;
    box-shadow: var(--shadow-image);
    border: solid 2px #ffffff;
    border-radius: 5px;
    margin-bottom: 12vw;
    cursor: pointer;
}

.screenshot:hover {
    box-shadow: var(--shadow-image-hover);
}

/* BLOG */
.blog-header-title {
    margin-top: 10vh;
    text-align: center;
    font-family: Content-font, Roboto, sans-serif;
    font-size: 7vh;
    font-weight: 900;
}

.blog-header-subtitle {
    font-family: Content-font, Roboto, sans-serif;
    text-align: center;
    font-family: monospace;
    font-size: 2vh;
    font-weight: 900;
}

.blog-content {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.blog-pager {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh;
}

/* BLOG LIST OF ARTICLES */
.blog-entry {
    width: 366px;
    border: solid 10px transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.blog-entry:hover {
    box-shadow: var(--shadow-2);
    transition: all 0.5s;
}

.blog-entry-banner-image {
    width: 336px;
    height: 176px;
    object-fit: cover;
    border-radius: 10px;
}

.breadcrumb-item {
    display: inline-block;
    color: var(--body);
    font-weight: 600;
    border-radius: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: solid 2px var(--body);    
}

.breadcrumb-item a {
    color: var(--body);
    text-decoration: none;
}

.blog-entry-category {
    display: inline-block;
    color: var(--body);
    font-weight: 600;
    border-radius: 16px;
    padding: 5px 10px;
    margin: 5px 5px 0px 0px;
    border: solid 2px var(--body);
}

.blog-entry-tag {
    display: inline-block;
    color: #00aaee;
    border-radius: 5px;
    margin: 5px;
}

h3.blog-entry-title {
    color: var(--body);
    font-size: 1.8vh;
}

p.blog-entry-description {
    color: var(--body);
    font-size: 1.6vh;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* A SINGLE BLOG POST */
.blog-post-banner {
    width: 100%;
    height: 400px;
    z-index: -1;
}

.blog-post-banner-image {
    width: 100%;
    object-fit: cover;
}

.blog-post-content {
    background-color: var(--body-background);
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 5vw #313131;
    padding: 20px 50px;
    margin: -50px 0 5vw 0px;
}

h1.blog-post-title {
    font-size: 46px;
    text-align: center;
    margin-bottom: 50px;
}

.blog-post-description {
    font-size: 30px !important;
    margin-bottom: 50px;
}

.blog-post-content h2 {
    font-size: 30px;
    margin-top: 50px;
}

.blog-post-content ul {
    margin-bottom: 2vh;
}

.blog-post-content p, li {
    font-size: 18px;
    line-height: 36px;
}

/* PRICING */
.pricing-table {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.pricing-plan {
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 256px;
}

.pricing-plan-title {
    text-align: center;
    font-size: 32px;
    margin: 32px 0px 32px 0px;
}

.pricing-plan-data {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}

.pricing-plan-price {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 40px 5px;
}

.pricing-plan-check {
    font-size: 24px;
    margin-right: 16px;
}

.pricing-plan-CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-radius: 40px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

.pricing-plan-CTA:hover {
    border-color: #ffffff !important;
    transition: all 0.5s;
}

/* FEATURE */
.feature-left {
    margin: 0 0 4vh 0;
    padding: 5vh 0;
    max-width: 1160px;
}

.feature-right {
    margin: 0 0 4vh 0;
    padding-top: 4vh;
    padding: 2vh;
    width: 100%;
}

.feature-title {
    font-family: var(--font-famly);
    font-size: 2vh;
}

.feature-description {
    font-family: var(--font-famly);
    font-size: 2vh;
    line-height: 3vh;
}

.feature-CTA {
    color: #00aaee;
    font-weight: 600;
    font-family: var(--font-famly);
    font-size: 2vh;
    margin: 2vh 0;
    cursor: pointer;
}

.feature-screenshot {
    background: var(--feature-background);
    border-radius: 10px;
    max-height: 450px;
    padding: 2vh;
    margin: 1vh;
}

.feature-screenshot-container-right:hover {
    transform: rotate(-2deg);
    transition: all 0.2s;
}

.feature-screenshot-container-left:hover {
    transform: rotate(2deg);
    transition: all 0.2s;
}

.feature-screenshot-img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 169, 241, 0.3);
    cursor: pointer;
}

.feature-top-separator {
    width: 100%;
    height: 100px;
    background: url("./resources/img/wave-3.svg");
    visibility: visible;
    transform: scaleX(5);
}

/* FEATURE DETAILS */
.feature-details-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--feature-background);
    width: 100%;
}

.feature-details-container-column {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    max-width: 1300px;
}

.feature-details {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    margin: 2vh 1vh 1vh 1vh;
    padding: 1vh;
    border-radius: 5px;
}

.feature-details:hover {
    background-color: rgb(216, 244, 255);
    box-shadow: var(--shadow-2);
}

h4.feature-details-title {
    color: #000000;
    font-family: var(--font-famly);
    font-size: 26px;
    margin: 2vh 0 2vh 0;
}

.feature-details-description {
    color: #62647b;
    font-family: var(--font-famly);
    font-size: 20px;
    line-height: 30px;
}

.feature-details-screenshot {
    max-width: 400px;
    max-height: 250px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 169, 241, 0.3);
    cursor: pointer;
}

/* ARTWORKS */
.artworks-list {
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.artwork {
    border: solid 1px var(--body-alt);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.artwork:hover {
    background-color: var(--body-background-alt);
}

h2.artwork-title {
    color: #334455;
    font-size: 3vh;
    font-weight: 900;
}

.artwork-image {
    width: 330px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.artwork-image-preview {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.artwork-tags {
    font-weight: 900;
}